<div class = main_side_bar>

<%# サイドバーのヘッダー %>
  <div class = header_side_bar>
    <div class = user_name>
      <%= link_to current_user.name, edit_user_path(current_user) %>
    </div>
    <div class = chat_btn>
      <%= link_to "チャットを作成する", new_room_path %>
    </div>
  </div>

<%# サイドバーのルーム表示欄 %>
  <div class = rooms_side_bar>
    <% current_user.rooms.each do |room| %>
    <div class="room">
      <div class="room_name">
        <%= link_to room.name, room_messages_path(room) %>
      </div>
    </div>
  <% end %>
  </div>
</div>