<div class = main_side_bar>

<%# サイドバーのヘッダー %>
  <div class = header_side_bar>
    <div class = user_name>
      <a href="hoge">Tom</a>
    </div>
    <div class = chat_btn>
      <a href="hoge">チャットを作成する</a>
    </div>
  </div>

<%# サイドバーのルーム表示欄 %>
  <div class = rooms_side_bar>
    <div class = room>
      <div class = room_name>
        <a href="hoge">techroom1</a>
      </div>
    </div>
    <div class = room>
      <div class = room_name>
        <a href="hoge">techroom2</a>
      </div>
    </div>
  </div>
</div>